.whole-container {
  display: flex;
  // flex-direction: row;
}

.show-container {
  border: 1px solid #ccccd1;
  width: 800px;
  height: 250px;
  margin-left: 25%;
  margin-top: 3.5%;
}

.show-header {
  background: cadetblue;
  height: 40px;
  background: #f5f5fa;
  border-bottom: 1px solid #ccccd1;
}

.show-body {
  display: flex;
}

.show-leftside {
  border-right: 1px solid #ccccd1;
  width: 400px;
  height: 210px;;
  background: lightgrey;
}

.show-rightside {
  background: darkgrey;
  width: 400px;
  height: 210px;;
}
