.background {
  background: white;
  min-height: 100vh;
}

.form-container {
  margin-left: 16%;
  margin-right: 16%;
  padding-bottom: 50px;
  background: white;

}
.test-input {
  opacity:0.5;
}

.form-container h1 {
  font-size: 30px;
  font-weight: 300;
  padding-top: 50px;
  opacity: 0.9;
}

.workout-form {
  display: flex;
  flex-wrap: wrap;
  color: #2d2d32;
  font-family: 'Roboto';
}

.workout-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccccd1;
}

.field-container {
  padding-right: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.workout-input {
  box-sizing: border-box;
  font-size: 14px;
  height: 34px;
  background-color: white;
  border: 1px solid #ccccd1;
  color: #666;
  text-align: center;
}

.left-align {
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
}

.workout-input:focus {
  border: 1px solid rgb(13, 107, 167);
}

.right-line {
  border-style: solid none solid solid;
}

.workout-description {
  padding: 10px;
  text-align: left;
  width: 500px;
  height: 125px;
  resize: vertical;
  overflow: auto;
  font-weight: 200;
}

.private {
  align-self: flex-end;
  margin-bottom: 20px;
  margin-left: 5px;
}

.workout-submit button{
  margin-top: 40px;
  padding: 10px;
  background: #fc4c02;
  color: white;
  border-radius: 0;
}

.workout-submit a {
  margin-left: 20px;
  color: #007FB6;
}

.input-wrapper {
  display: flex;
  margin-top: 10px;
  input {
    flex: 1;
  }

}

.mid-row {
  display: flex;
  margin-bottom: -45px;
}

.full-mid-row {
  display: flex;
  flex-direction: column;
}

.bottom-row {
  border-top: 1px solid #ccccd1;
  display: flex;
  flex-direction: column;
  height: 425px;
}

.bottom-container {
  margin-bottom: -45px;
}

.duration-box {
  width: 75px;
}

.select {
  height: 34px;
  // width: 124px;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
  border: 1px solid #ccccd1;
  color: #2d2d32;
  transition: background-color 300ms;
}

.select:hover{
  cursor: pointer;
  background: rgb(242, 242, 249);
}

.selected-fields {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  background: white;
  border-left: 1px solid #ccccd1;
  border-right: 1px solid #ccccd1;
  border-bottom: 1px solid #ccccd1;
}

.activity-input {
  width: 535px;
}

.activity-input-field {
  text-align: left;
  padding-left: 10px;
}

.activity-type {
  width: 540px;
}

.selected-fields li {
  padding: 10px;
}

.sporty-input {
  text-align: left;
  // padding-left: 10px;
  width: 270px;

}

.selected-fields li:hover {
  cursor: pointer;
  background: rgb(224, 224, 230);
}

.select:focus {
  border: 1px solid rgb(13, 107, 167);
}

.distance-select {
  width: 124px;
  position: relative;
  z-index: 60;
}

.sport-select {
  width: 272px;
}

.datetime {
  width: 112.5px;
}

.title-input {
  width: 535px;
}

.dropdown-section-element {
  position: relative;
  width: 100%;
}

.dropdown-section-element:focus {
  background: white;
}

.privacy {
  position: relative;
}

.workout-errors {
  border: 1px solid red;
  height: 34px;
  font-size: 14px;

}
