.form-container {
  margin-left: 16%;
  margin-right: 16%;
}

.form-container h1 {
  font-size: 30px;
  font-weight: 300;
  padding-top: 50px;
  opacity: 0.9;
}

.workout-form {
  display: flex;
  flex-wrap: wrap;
  color: #2d2d32;
  font-family: 'Roboto';
}

.workout-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccccd1;
}

.field-container {
  padding-right: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.workout-input {
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 14px;
  height: 34px;
  background-color: white;
  border: 1px solid #ccccd1;
  color: #666;
  text-align: center;
}

.workout-input:focus {
  border: 1px solid rgb(13, 107, 167);
}

.right-line {
  border-style: solid none solid solid;
}

.workout-description {
  padding: 10px;
  text-align: left;
  width: 500px;
  height: 125px;
  resize: vertical;
  overflow: auto;
  font-weight: 200;
}

.private {
  align-self: flex-end;
  margin-bottom: 20px;
  margin-left: 5px;
}

.checkbox {
  align-self: flex-end;
  margin-bottom: 20px;
  margin-left: -685px;
}

// .workout-select:hover {
//   background: #ccc;
// }

// .workout-select {
//   padding: 10px;
// }

// .workout-select:focus {
//   border: 1px solid #ccccd1;
// }
