.all-routes-container {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
}

.all-routes-header {
  padding: 20px 0;
  color: #2d2d32;
  border-bottom: 1px solid #ccccd1;
  & h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

.all-routes-list {
  display: flex;
  flex-wrap: wrap;
  & li {
    padding: 20px 40px 20px 0;
    & a {
      color: #007FB6;
      padding: 10px 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.route-item-container {
  display: flex;
  flex-direction: column;
}

.route-item-details {
  background: #f7f7f7;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.route-item-content {
  display: flex;
  flex-direction: column;
  & li {
    padding: 10px 0 0 0;
    font-size: 18px;
    display: flex;
    // justify-content: space-around;

    & span:nth-of-type(3n){
      margin-left: 50px;
    }
  }
}

.unit {
  margin-top: 10px;
  margin-left: 5px;}

.route-item-data {
  font-size: 24px;
}

.route-item-data-unit {
  margin-right: 30px;
  font-size: 16px;
  color: #666;
}

.route-show-container {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  // align-items: center;
}

// .route-image-container {
//   margin-top: 15%;
// }

.route-show-details {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 15%;
  border-bottom: 1px solid #ccccd1;

}

.route-show-user-info{
  margin-left: 65px;
  padding: 10px 0;
  border-bottom: 1px solid #ccccd1;
}

.route-show-name {
  padding: 5px 0;
}

.route-show-item-body {
  margin-top: 5px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccccd1;
}

.route-show-el {
  margin-left: 6px;
  margin-right: 30px;
}

.moving-time {
  margin-top: 10px;
}

.route-show-desc {
  margin-left: 65px;
  font-size: 12px;
  margin-top: 20px;
}

.route-show-leftside {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccccd1;
  & header {
    margin-bottom: 50px;
    font-size: 26px;
    color: #2d2d32;
  }
}

.route-show-delete {
  align-self: center;
  margin-top: 73%;
}
