.all-routes-container {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
}

.all-routes-header {
  padding: 20px 0;
  color: #2d2d32;
  border-bottom: 1px solid #ccccd1;
  & h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

.all-routes-list {
  display: flex;
  flex-wrap: wrap;
  & li {
    padding: 20px 40px 20px 0;
    & a {
      color: #007FB6;
      padding: 10px 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.route-item-container {
  display: flex;
  flex-direction: column;
}

.route-item-details {
  background: #f7f7f7;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.route-item-content {
  display: flex;
  flex-direction: column;
  & li {
    padding: 10px 0 0 0;
    font-size: 18px;
    display: flex;
    // justify-content: space-around;

    & span:nth-of-type(3n){
      margin-left: 50px;
    }
  }
}

.unit {
  margin-top: 10px;
  margin-left: 5px;}

.route-item-data {
  font-size: 24px;
}

.route-item-data-unit {
  margin-right: 30px;
  font-size: 16px;
  color: #666;
}
