.create-profile-container {
  position: relative;
  z-index: 125;
  background: white;
  width: 600px;
  height: 500px;
  // top: 15%;
  left: 50%;
  // left: 30%;
  display: flex;
  justify-content: center;
}

.create-profile-form {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-header h1 {
  color: rgba(34, 34, 38, 0.95);
  padding: 20px;
  font-size: 32px;
  font-weight: 700;
}

.create-form-input {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: 1px solid #ccccd1;
  background: white;
  height: 25px;
    &:focus {
      // border: 1px solid black;
      border: 1px solid rgb(13, 107, 167)
  }
}

.create-form-submit {
  width: 137px;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 350;
  border-radius: 4px;
  background: #fc4c02;
  color: white;
}

.create-errors {
  background: white;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 2px;
  height: 25px;
  border: 1px solid red;
  color: red;
  &:focus {
    border: 1px solid black;
    color: black;

  }
}

.create-error-message {
  color: red;
  font-size: 12px;
  padding-bottom: 15px;
}


.create-profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.create-profile-picture {
  display: flex;
  flex-direction: column;
  & div {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  & input {
    margin-left: 20%;
  }
}
