.dashboard-background {
  position: absolute;
  height: 100%;
  width: 100%;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  background: #f5f5fa;
}

.dashboard-container {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  margin-left: 14%;
  margin-right: 15%;
  height: 100%;
}

.dashboard-left {
  position: sticky;
  background: #f5f5fa;
  width: 22%;
  height: 100%;
}

.dashboard-main {
  background: #f5f5fa;
  width: 45%;
  height: 100%;
  overflow: scroll;
}

.dashboard-right {
  position: sticky;
  background: #f5f5fa;
  width: 22%;
  height: 100%;
}

.no-workouts {
  background: white;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;;
  & a {
    color: #007FB6;
  }
}

.no-workouts a:hover {
  color: rgb(9, 71, 111);
}


.table-container {
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 50px;
}

table {
  width: 100%;
}

th {
  background: #ccccd1;
  padding: 10px;
  font-size: 14px;
}

td {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ccccd1;
}

td a {
  color: #007FB6;
}

td a:hover {
  text-decoration: underline;
}

.table-util {
  color: #007FB6;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
