.dashboard-background {
  position: absolute;
  height: 100%;
  width: 100%;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  background: #f5f5fa;
}

.dashboard-container {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  margin-left: 14%;
  margin-right: 15%;
  height: 100%;
}

.dashboard-left {
  position: sticky;
  background: yellow;
  width: 22%;
  height: 100%;
}

.dashboard-main {
  background: #f5f5fa;
  width: 45%;
  height: 100%;
  overflow: scroll;
}

.dashboard-right {
  position: sticky;

  background: red;
  width: 22%;
  height: 100%;

}
