.tabs {
  background: white;
  padding: 0 0 10px 0;
}


.tab-header {
  display: flex;
  justify-content: space-around;
}

.tab-header li {
  width: 50%;
  text-align: center;
}

.tab-header li:hover {
  cursor: pointer;
}

.inactive {
  background: #f5f5fa;
  height: 30px
}

.active {
  height: 30px;
}

.stats-content {
  padding: 10px;
}

.stats-label {
  font-weight: 600;
  font-size: 16;
  color: #2d2d32;

}

.stats-value {
  font-size: 14px;
  margin-bottom: 10px;
  color: #2d2d32;

}
