.tabs {
  background: white;
  padding: 0 0 10px 0;
}


.tab-header {
  display: flex;
  justify-content: space-around;
}

.tab-header li {
  width: 50%;
  text-align: center;
}

.tab-header li:hover {
  cursor: pointer;
}

.inactive {
  background: #f5f5fa;
  height: 30px
}

.active {
  height: 30px;
}

.stats-content {
  padding: 10px 0 0 0;
  text-align: center;
}

.stats-label {
  // font-weight: 400;
  font-size: 16px;
  color: #2d2d32;
  margin-top: 10px;
}

.stats-value {
  font-size: 13px;
  padding-bottom: 10px;
  color: #2d2d32;
  text-align: center;
  margin-top: 5px;

}
