.workout-item-container {
  border: 1px solid white;
  margin-bottom: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(13, 13, 18, 0.16);
}

.workout-item {
  margin: 30px 30px 5px 30px;
  display: flex;
  flex-direction: column;
}

.item-top-row {
  position: relative;
  display: flex;
}

.item-name-date {
  margin-left: 18px;
  margin-top: 5px;
}
.item-name-date a:hover{
  color: #007FB6;
}

.item-mid-row {
  position: relative;
}

.workout-item div {
  margin-bottom: 3px;
}

.item-body {
  margin-top: 5px;
  margin-left: 60px;
}

.item-body-title {
  font-size: 24px;
  font-weight: 500;
}

.item-body-title:hover {
  color: rgb(9, 71, 111);
  cursor: pointer;
}

.item-stat {
  padding-right: 20px;
  border-right: 1px solid #ccccd1;
}

.item-stat-el {
  padding-left: 20px;
}

.item-stat-value {
  font-size: 18px;
  margin-left: 7px;
  margin-right: 30px;
}

.item-bottom-row {
  padding-bottom: 25px;
  border-bottom: 1px solid #ccccd1;
}

.fa-item {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.item-socials {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

}

.item-social-buttons {
  margin-right: 7%;
}

.fa-thumbs-o-up {
  font-size: 14px;
  color: grey;
}

.like-button {
  padding: 5px 10px;
  border: 1px solid #ccccd1;
  border-radius: 2px;
  margin-right: 5px;
  background: whitesmoke;
  transition: background-color 300ms;
  &:hover {
    background: white;
    transition: background-color 300ms;
  }
}

.like-disabled {
  padding: 5px 10px;
  border: 1px solid #ccccd1;
  border-radius: 2px;
  margin-right: 5px;
  background: whitesmoke;
  transition: background-color 300ms;
  pointer-events: none;
  // &:hover {
  //   background: white;
  //   transition: background-color 300ms;
  // }
}

.like-text {
  transition: color 200ms;
  font-size: 13px;
  opacity: 0.9;
  &:hover {
    color: rgb(9, 71, 111);
    transition: color 200ms;
    cursor: pointer;
  }
}

.item-social-likers {
  display: flex;
  max-width: 75px;
  overflow: hidden;
  margin-right: 10px;
}

.orange {
  color: rgb(249, 77, 31);
}

.item-sm-avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.social-likers-wrapper {
  display: flex;
  align-items: center;
}

.num-kudos {
  font-size: 12px;
  opacity: 0.9;
  transition: color 200ms;
  margin-right: 5px;
  &:hover {
    color: rgb(9, 71, 111);
    cursor: pointer;
    transition: color 200ms;
  }
}

.likes-container {
  width: 600px;
  background: white;
  border-radius: 3px;
  z-index: 160;
  position: fixed;
  top: 15%;
  left: 35%;
  padding-bottom: 50px;
}

.likes-container-header {
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 0;
  margin-left: 20px;
  border-bottom: 1px solid #ccccd1;
  width: 90%;
}

.like-header-title {
  margin-left: 10px;
  font-size: 24px;
  opacity: 0.9;
}

.like-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccccd1;
  width: 90%;
  margin-left: 20px;

}

.like-item-left {
  padding: 15px;
  display: flex;
  align-items: center;
  & .like-item-name {
    margin-left: 20px;
    color: #007FB6;
    &:hover {
      text-decoration: underline;
    }
  }
}

.no-entry {
  padding: 20px 0;
  border-bottom: 1px solid #ccccd1;
  width: 90%;
  margin-left: 20px;
  opacity: 0.9;
}

.comment-section {
  max-height: 100px;
  overflow: hidden;
}

.comment-item-wrapper {
  display: flex;
  padding-bottom: 15px;
}

.comment-item-text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.comment-text {
  font-size: 12px;
  margin-bottom: 2px;
  & a {
    font-weight: bold;
    margin-bottom: 10px;
    &:hover {
      color: rgb(9, 71, 111);
      cursor: pointer;
    }
  }
}

.see-all {
  font-size: 12px;
  opacity: 0.9;
  padding-bottom: 15px;
  transition: color 200ms;
  margin-right: 5px;
  &:hover {
    color: rgb(9, 71, 111);
    cursor: pointer;
    transition: color 200ms;
  }
}

.comment-form {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid #ccccd1;
}

.comment-input {
  background: whitesmoke;
  padding: 5px;
  font-size: 12px;
  width: 75%
}

.comment-button {
  background: white;
  border-radius: 2px;
  padding: 5px;
  font-size: 14px;
  color: rgb(249, 77, 31);
  &:hover {
    background: whitesmoke;
  }
}
