.workout-item-container {

}

.workout-item {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.workout-item div {
  margin-bottom: 5px;
}

.item-body {
  margin-top: 5px;
  margin-left: 60px;
}

.item-body-title {
  font-size: 24px;
  font-weight: 500;
}

.item-body-title:hover {
  color: rgb(9, 71, 111);
  cursor: pointer;
}
