.workout-item-container {
  border: 1px solid black;
}

.workout-item {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.workout-item div {
  margin-bottom: 3px;
}

.item-body {
  margin-top: 5px;
  margin-left: 60px;
}

.item-body-title {
  font-size: 24px;
  font-weight: 500;
}

.item-body-title:hover {
  color: rgb(9, 71, 111);
  cursor: pointer;
}

.item-stat {
  padding-right: 20px;
  border-right: 1px solid #ccccd1;
}

.item-stat-el {
  padding-left: 20px;
}

.item-stat-value {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 25px;
}

.item-bottom-row {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccccd1;

}
