.top-left {
  position: absolute;
  z-index: 5;
  top: 75px;
  left: -200px;
}

.landing-nav {
  position: relative;
  height: 65px;
  background: white;
  width: 100%;
}

.landing-ul {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.landing-ul h1 {
  font-size: 24px;
  color: dimgrey;
  font-weight: 100;
  margin-top: -5px;
}

.landing-ul a {
  color: dimgrey;
  text-decoration: underline;
}

.landing-ul a:hover {
  color: darkslategrey;
}

.landing-ul li:last-of-type{
  margin-right: -240px;
  margin-top: -25px;
}

.login-button {
  background: #fc4c02;
  width: 120px;
  height: 70px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 1px;
}

.fa-user {
  margin-right: 4px;
}

.modal-screen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.signup-form {
  width: 430px;
  height: 495px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 2px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-close {
  font-size: 32px;
  color: #ccc;
  align-self: flex-end;
  font-weight: 100;
}

.modal-close:hover {
  color: black;
  cursor: pointer;
}

.form-header h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-left: -25px;
  margin-top: 20px;
}

.form-header h3 {
  margin-left: -25px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}

.signup-form label {
  font-size: 18px;
  align-self: flex-start;
  margin-left: 25px;
}

.landing-input {
  width: 80%;
  padding: 17px;
  background: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin: 15px 0 20px 0;
}

.landing-input:focus {
  border: 1px solid black;
}

.fa-eye {
  position: absolute;
  right: 25px;
  bottom: 225px;
  margin-right: 25px;
}

.fa-eye::after {
  content: "  Show";
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 600;
}

.show {
  color: #aaa;
}

.show:hover {
  cursor: pointer;
  text-decoration: underline;
}

.terms {
  align-self: flex-start;
  margin-left: 25px;
  color: #aaa;
  font-size: 13px;
}

.terms a {
  text-decoration: underline;
}

.after {
  position: absolute;
  top: 645px;
  left: 46%;
  color: white;
  font-size: 12px;
  z-index: 4;
}

.after a {
  color: #fc4c02;
}

.is-open {
  display: block;
}

.is-closed {
  display: none;
}

.signup-submit {
  width: 137px;
  padding: 15px 0;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 350;
  align-self: flex-end;
  margin-right: 30px;
  border-radius: 4px;
  background: #fc4c02;
  color: white;

}
